/* Base styles */

* {
  box-sizing: border-box;
  font-family: 'Proza Libre', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --font-color: #414042;
  --main-color: #8CC449;
}

body {
  background-color: #ffffff;
  color: var(--font-color);
  height: 100%;
  font-size: 16px;
}

html {
  height: 100%;
}

nav {
  list-style: none;
}

li>a:hover {
  opacity: 1;
}

.logo {
  color: var(--main-color);
  margin-right: 10px;
}

a.btn,
a.btn-small {
  background: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  height: 2.5em;
  line-height: calc(2.5em - 4px);
  min-width: 10.5em;
  text-align: center;
  text-decoration: none;
}

a.btn-small {
  height: 2em;
  line-height: calc(2em - 4px);
  margin-right: 0.5em;
  min-width: 5em;
}

@media all and (max-width: 450px) {
  a.btn-small {
    min-width: 3em;
  }
}

a.danger {
  background: #ed2939;
  border: 2px solid #ed2939;
}

a.btn:active a.btn-small:active {
  box-shadow: none;
  transform: translateX(2px);
}

.fa-plus {
  margin-right: 0.5em;
}

.link-active {
  color: var(--main-color);
}

.promo-image {
  max-width: 80%;
}

/* Header Styles */

header {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #f8f8f9;
  box-shadow: 0 4px 20px -2px #D0D0D0;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding: 20px 16px;
  width: 100%;
}

@media all and (max-width: 450px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  header h2 {
    padding-bottom: 0.5em;
  }

  header nav {
    border-top: 1px solid #E8E8E8;
    padding-top: 1.2em;
    width: 100%;
  }

  header .search {
    margin-bottom: 1em;
    width: 100%;
  }
}

header a {
  color: var(--font-color);
  opacity: 0.75;
  text-decoration: none;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

header nav li {
  margin: 0 15px;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

/* Landing Page Styles */

.landing {
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

.main {
  align-items: center;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-content-area {
  animation: 1s slidefade 1s forwards;
  margin-top: 100px;
  opacity: 0;
  padding-right: 1em;
  padding-left: 1em;
}

.main h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 15px;
}

.main h3 {
  margin-bottom: 40px;
}

@keyframes slidefade {
  100% {
    margin-top: 20px;
    opacity: 1;
  }
}

/* Form Styles */

.section-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

textarea {
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 0.85em;
  margin: 5px 1px 5px 0px;
  outline: none;
  padding: 3px 10px 3px 10px;
  width: 100%;
}

#login {
  margin-top: 2em;
}

input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 0.85em;
  height: 30px;
  margin: 5px 1px 5px 0px;
  outline: none;
  padding: 3px 10px 3px 10px;
  width: 100%;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(140, 196, 73, 0.6);
}

.wrapper {
  margin-bottom: 1.2em;
  width: 70%;
}

.wrapper>label {
  display: block;
}

.form-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  min-width: 300px;
  padding: 3em 0;
  width: 40%;
}

.form-button {
  width: 70%;
}

#info {
  margin-top: 1em;
}

#error {
  color: red;
  display: none;
  font-size: 0.7em;
}

/* Offer Styles */

.offer {
  border: 1px solid #7E7C80;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 35vh;
  margin-bottom: 20px;
  min-width: 340px;
  width: 29%;
}

.search-fields {
  border-radius: 5px;
  display: flex;
  width: 100%;
}

.search {
  align-items: center;
  display: flex;
  width: 30%;
}

.search a {
  height: 2em;
  line-height: calc(2em - 4px);
  margin-right: 0.5em;
  margin-left: 1em;
  min-width: 3em;
}

.search-fields select {
  border: none;
  height: 30px;
}

.offer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.offer>a.btn {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.offer-main-content {
  border: 1px solid #7E7C80;
  height: 27vh;
  padding: 1em 1em 0 1em;
  width: 100%;
}

.offer-main-content i {
  color: var(--main-color);
  width: 20px;
}

.offer-main-content p {
  display: flex;
  flex-direction: row;
}

.offer-main-content p > b {
  margin-left: 70px;
}

.find-ride {
  margin: 0;
  margin-left: 1em;
  width: 50%;
}

.offer-main-content>p {
  margin-bottom: 0.5em;
}

.all-offers {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#view-offer {
  border: solid 1px #ffffff;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}

@media all and (max-width: 350px) {
  .offer {
    height: 42vh;
    min-width: 300px;
  }

  .offer-main-content {
    height: 34vh;
  }

  .offer > a.btn {
    height: 2em;
    line-height: calc(2em - 4px);
    margin-top: 3px;
  }
}

/* Profile Styles */

.details {
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin: 2em 1em;
  width: 100%;
}

.information {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.information * {
  margin-right: 1em;
}

.greeting {
  font-size: 1.6em;
}

.ride-info {
  align-items: center;
  border: 1px solid #7E7C80;
  border-radius: 5px;
  display: flex;
  height: 50px;
  justify-content: center;
  text-align: center;
  width: 150px;
}

.ride-info p {
  margin: 0;
}

.ride-info p.text {
  font-size: 0.9em;
  font-weight: lighter;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 80%;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th.main-header {
  text-align: center;
}

.profile-image {
  border-radius: 100%;
  height: 60px;
  margin-right: 1em;
  width: 60px;
}

@media all and (max-width: 450px) {
  .information * {
    margin-right: 0;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .information .btn i {
    margin-right: 0.5em;
  }
}

/* My Offers Styles */

.request {
  align-items: center;
  border: 1px solid #7e7c80;
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 90%;
}

@media all and (max-width: 450px) {
  .request {
    font-size: 0.9em;
  }
}

.request>p {
  margin-left: 0.8em;
}

.actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.collapsible {
  align-items: center;
  background-color: #c5e1a5;
  border: none;
  color: #414042;
  cursor: pointer;
  display: flex;
  margin-top: 2em;
  outline: none;
  padding: 18px;
  width: 90%;
}

.collapsible>div p:not(:last-child) {
  padding-bottom: 0.5em;
}

.active,
.collapsible:hover {
  background-color: #aed581;
}

.collapsible:after {
  content: '\002B';
  color: #414042;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.active:after {
  content: '\2212';
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}
