<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Proza Libre' rel='stylesheet'>
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>My Offers</title>
</head>

<body>
  <header>
    <h2>
      <i class="fas fa-car fa-lg logo"></i>
      <a href="../index.html">Ride My Way</a>
    </h2>
    <nav>
      <li>
        <a href="./offers.html">View Offers</a>
      </li>
      <li>
        <a href="./profile.html">Dashboard</a>
      </li>
      <li>
        <a href="../index.html">Logout</a>
      </li>
    </nav>
  </header>

  <section class="all-offers section-wrapper">
    <h2>OFFER REQUESTS</h2>
    <div class="collapsible">
      <div>
        <p>
          <b>Destination:</b> Anthony</p>
        <p>
          <b>Point Of Departure:</b> Agbara</p>
        <p>
          <b>Departure Time:</b> 11:23 AM</p>
        <p>
          <b>Date:</b> 28-02-2018</p>
      </div>
    </div>
    <div class="content">
      <div class="request">
        <p>
          <b>Request From:</b> Fasoro Tosin</p>
        <div class="actions">
          <a href="#" class="btn-small">
            <i class="fas fa-check"></i>
          </a>
          <a href="#" class="btn-small danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="request">
        <p>
          <b>Request From:</b> Fasoro Tolu</p>
        <div class="actions">
          <a href="#" class="btn-small">
            <i class="fas fa-check"></i>
          </a>
          <a href="#" class="btn-small danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="collapsible">
      <div>
        <p>
          <b>Destination:</b> Mowe</p>
        <p>
          <b>Point Of Departure:</b> Agbara</p>
        <p>
          <b>Departure Time:</b> 12:30 PM</p>
        <p>
          <b>Date:</b> 13-04-2018</p>
      </div>
    </div>
    <div class="content">
      <div class="request">
        <p>
          <b>Request From:</b> Fasoro Tosin</p>
        <div class="actions">
          <a href="#" class="btn-small">
            <i class="fas fa-check"></i>
          </a>
          <a href="#" class="btn-small danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="request">
        <p>
          <b>Request From:</b> Fasoro Tolu</p>
        <div class="actions">
          <a href="#" class="btn-small">
            <i class="fas fa-check"></i>
          </a>
          <a href="#" class="btn-small danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="collapsible">
      <div>
        <p>
          <b>Destination:</b> Agbara</p>
        <p>
          <b>Point Of Departure:</b> Agbara</p>
        <p>
          <b>Departure Time:</b> 10:10 AM</p>
        <p>
          <b>Date:</b> 16-04-2018</p>
      </div>
    </div>
    <div class="content">
      <div class="request">
        <p>
          <b>Request From:</b> Fasoro Tosin</p>
        <div class="actions">
          <a href="#" class="btn-small">
            <i class="fas fa-check"></i>
          </a>
          <a href="#" class="btn-small danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="request">
        <p>
          <b>Request From:</b> Fasoro Tolu</p>
        <div class="actions">
          <a href="#" class="btn-small">
            <i class="fas fa-check"></i>
          </a>
          <a href="#" class="btn-small danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <script src="../scripts/my-offers.js"></script>

</body>

</html>
