<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Proza Libre' rel='stylesheet'>
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Offers</title>
</head>

<body>
  <header>
    <h2>
      <i class="fas fa-car fa-lg logo"></i>
      <a href="../index.html">Ride My Way</a>
    </h2>
    <div class="search">
      <div class="search-fields">
        <input class="find-ride" type="search" placeholder="Rides from">
        <input class="find-ride" type="search" placeholder="Going to">
      </div>
      <a href="#" class="btn-small">
        <i class="fas fa-search"></i>
      </a>
    </div>
    <nav id="nav">
      <li>
        <a href="#">View Rides</a>
      </li>
      <li>
        <a href="./profile.html">Dashboard</a>
      </li>
      <li>
        <a href="../index.html">Logout</a>
      </li>
    </nav>
  </header>

  <section class="all-offers section-wrapper">
    <div class="offer">
      <div class="offer-main-content">
        <p>
          <i class="fas fa-plane-arrival fa-lg"></i>
          <b>Ibafo</b>
        </p>
        <p>
          <i class="fas fa-calendar-alt fa-lg"></i>
          <b>28-06-2018</b>
        </p>
        <p>
          <i class="fas fa-clock fa-lg"></i>
          <b>10:20 AM</b>
        </p>
        <p>
          <i class="fas fa-plane-departure fa-lg"></i>
          <b>Agbara</b>
        </p>
        <p>
          <i class="fas fa-user fa-lg"></i>
          <b>Aleem Osundare</b>
        </p>
      </div>
      <a href="#" class="btn">
        <i class="fas fa-plus"></i>Join Ride</a>
    </div>
    <div class="offer">
      <div class="offer-main-content">
        <p>
          <i class="fas fa-plane-arrival fa-lg"></i>
          <b>Ibafo</b>
        </p>
        <p>
          <i class="fas fa-calendar-alt fa-lg"></i>
          <b>28-06-2018</b>
        </p>
        <p>
          <i class="fas fa-clock fa-lg"></i>
          <b>10:20 AM</b>
        </p>
        <p>
          <i class="fas fa-plane-departure fa-lg"></i>
          <b>Agbara</b>
        </p>
        <p>
          <i class="fas fa-user fa-lg"></i>
          <b>Aleem Osundare</b>
        </p>
      </div>
      <a href="#" class="btn">
        <i class="fas fa-plus"></i>Join Ride</a>
    </div>
    <div class="offer">
      <div class="offer-main-content">
        <p>
          <i class="fas fa-plane-arrival fa-lg"></i>
          <b>Ibafo</b>
        </p>
        <p>
          <i class="fas fa-calendar-alt fa-lg"></i>
          <b>28-06-2018</b>
        </p>
        <p>
          <i class="fas fa-clock fa-lg"></i>
          <b>10:20 AM</b>
        </p>
        <p>
          <i class="fas fa-plane-departure fa-lg"></i>
          <b>Agbara</b>
        </p>
        <p>
          <i class="fas fa-user fa-lg"></i>
          <b>Aleem Osundare</b>
        </p>
      </div>
      <a href="#" class="btn">
        <i class="fas fa-plus"></i>Join Ride</a>
    </div>
    <div class="offer">
      <div class="offer-main-content">
        <p>
          <i class="fas fa-plane-arrival fa-lg"></i>
          <b>Ibafo</b>
        </p>
        <p>
          <i class="fas fa-calendar-alt fa-lg"></i>
          <b>28-06-2018</b>
        </p>
        <p>
          <i class="fas fa-clock fa-lg"></i>
          <b>10:20 AM</b>
        </p>
        <p>
          <i class="fas fa-plane-departure fa-lg"></i>
          <b>Agbara</b>
        </p>
        <p>
          <i class="fas fa-user fa-lg"></i>
          <b>Aleem Osundare</b>
        </p>
      </div>
      <a href="#" class="btn">
        <i class="fas fa-plus"></i>Join Ride</a>
    </div>
    <div class="offer">
      <div class="offer-main-content">
        <p>
          <i class="fas fa-plane-arrival fa-lg"></i>
          <b>Ibafo</b>
        </p>
        <p>
          <i class="fas fa-calendar-alt fa-lg"></i>
          <b>28-06-2018</b>
        </p>
        <p>
          <i class="fas fa-clock fa-lg"></i>
          <b>10:20 AM</b>
        </p>
        <p>
          <i class="fas fa-plane-departure fa-lg"></i>
          <b>Agbara</b>
        </p>
        <p>
          <i class="fas fa-user fa-lg"></i>
          <b>Aleem Osundare</b>
        </p>
      </div>
      <a href="#" class="btn">
        <i class="fas fa-plus"></i>Join Ride</a>
    </div>
    <div class="offer">
      <div class="offer-main-content">
        <p>
          <i class="fas fa-plane-arrival fa-lg"></i>
          <b>Ibafo</b>
        </p>
        <p>
          <i class="fas fa-calendar-alt fa-lg"></i>
          <b>28-06-2018</b>
        </p>
        <p>
          <i class="fas fa-clock fa-lg"></i>
          <b>10:20 AM</b>
        </p>
        <p>
          <i class="fas fa-plane-departure fa-lg"></i>
          <b>Agbara</b>
        </p>
        <p>
          <i class="fas fa-user fa-lg"></i>
          <b>Aleem Osundare</b>
        </p>
      </div>
      <a href="#" class="btn">
        <i class="fas fa-plus"></i>Join Ride</a>
    </div>
  </section>

  <script src="../scripts/app.js"></script>
</body>

</html>
